.card {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
  border: 5px solid white !important;
  border-radius: 15px !important;
  padding: 15px !important;
  color: white !important;
}
