
.main{
    background-color: #3B54A5;
    height: 70vh;
    width: 100%;
    overflow: hidden;

}

.ml{
    margin-left: 150px;
}
.mt {
    margin-top: 150px;
   
}
.mt h1{
     font-weight:900;
    font-size: 60px;

}